/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.cards-wrapper {
  list-style-type: none;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  place-items: center;
}

/* <link rel="icon" type="image/png" sizes="32x32" href="https://boolean.co.uk/favicon-32x32.png"> */
/* 
colors: 
boolean blue:     border: 0;
    color: #fff!important;
    background: #006cfa;

    boolean green:
        color: #0cd977!important;
    background: transparent;
    border: 2px solid #0cd977;
    border-radius: 6px;
    padding: 10px 20px;
        --pink: #e83e8c;
*/
